 * {
     border-radius: 0 !important;
 }

 *, :after, :before{
    box-sizing: border-box;
 }
 
 body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #333;
     font-size: 13px;
     line-height: 1.6;
 }

 .view p {
     font-family: Georgia, serif;
     font-style: italic;
     font-size: 12px;
     color: #fff;
     padding: 10px 20px;
     position: relative;
     text-align: center;
 }


 .view .content,
 .view .mask {
     width: 100%;
     height: 100%;
     position: absolute;
     overflow: hidden;
     top: 0;
     left: 0;
 }

 /* html {
    -webkit-tap-highlight-color: transparent;
} */
 ::selection {
     color: #fff;
     background: #57308f;
 }


 .view,
 .view h2,
 .view h3
 {
 position: relative;
 text-align: center;
 }

 .view {
     cursor: default;
     overflow: hidden;
     margin-bottom: 30px;
     box-shadow: 0 0 3px #cdcccc;
 }

 .view-tenth .mask {
     /* -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear; */
     transition: all .5s linear;
     /* -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); */
     opacity: 0;
 }

 .view-tenth h2,
 .view-tenth h3 {
     color: #333;
     margin: 20px 40px 0;
     background: 0 0;
     border-bottom: 1px solid rgba(0, 0, 0, .3);
 }

 .view h2,
 .view h3 {
     background: rgba(0, 0, 0, .8);
     margin: 20px 0 0;
     text-shadow: none;
     font-size: 22px;
     padding: 10px;
 }

 h3,
 h4,
 h5,
 h6 {
     font-family: "Open Sans", Arial, sans-serif;
 }

 h2 {
     font-size: 1.846em;
     line-height: 33px;
     display: block;
     font-size: 1.5em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
 }

 view a.info {
     background: #000;
     padding: 5px 12px;
     text-decoration: none;
     margin-top: 10px;
     display: inline-block;
     overflow: hidden;
 }

 view a.info,
 .view h2,
 .view h3 {
     color: #fff;
     text-transform: uppercase;
 }

 a,
 a:active,
 a:focus,
 a:hover {
     outline: 0 !important;
     outline-offset: -2px;
 }

 a {
     text-decoration: none;
     outline: 0 !important;
     color: #135b9a;
 }



 .view-tenth p {
     color: #333;
 }

 p {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
 }

 .row {
     margin-left: -15px;
     margin-right: -15px;
 }

 .row:after,
 .row:before {
     content: " ";
     display: table;
 }

 .row:after {
     clear: both;
 }

 .jumbotron {
     height: calc(100vh - 25px);
     background-image: url(../images/rockOn_dark.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .title-box-v2 {
    text-align: center;
 }
 .jumbotron {
     padding: 2rem 1rem;
     margin-bottom: 2rem;
     background-color: #e9ecef;
     border-radius: 0.3rem;
 }

 .col-lg-1,
 .col-lg-10,
 .col-lg-11,
 .col-lg-12,
 .col-lg-2,
 .col-lg-3,
 .col-lg-4,
 .col-lg-5,
 .col-lg-6,
 .col-lg-7,
 .col-lg-8,
 .col-lg-9,
 .col-md-1,
 .col-md-10,
 .col-md-11,
 .col-md-12,
 .col-md-2,
 .col-md-3,
 .col-md-4,
 .col-md-5,
 .col-md-6,
 .col-md-7,
 .col-md-8,
 .col-md-9,
 .col-sm-1,
 .col-sm-10,
 .col-sm-11,
 .col-sm-12,
 .col-sm-2,
 .col-sm-3,
 .col-sm-4,
 .col-sm-5,
 .col-sm-6,
 .col-sm-7,
 .col-sm-8,
 .col-sm-9,
 .col-xs-1,
 .col-xs-10,
 .col-xs-11,
 .col-xs-12,
 .col-xs-2,
 .col-xs-3,
 .col-xs-4,
 .col-xs-5,
 .col-xs-6,
 .col-xs-7,
 .col-xs-8,
 .col-xs-9 {
     position: relative;
     min-height: 1px;
     padding-left: 15px;
     padding-right: 15px;
 }

 .container:after,
 .container:before {
     content: " ";
     display: table;
 }

 element.style {
     background-position: 50% 202px;
 }

 .parallax-team,
 .parallax-team .title-box-v2,
 .topbar {
     position: relative;
 }

 .parallax-team {
     background: url(/assets/faces-160c5f9….jpg) 50% 0 fixed;
 }

 .parallax-team:before {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     content: " ";
     position: absolute;
     background: rgba(255, 255, 255, .9);
 }

 .view-tenth img {
     left: 10px;
     margin-left: -10px;
     position: relative;
     -webkit-transition: all .6s ease-in-out;
     -moz-transition: all .6s ease-in-out;
     -o-transition: all .6s ease-in-out;
     -ms-transition: all .6s ease-in-out;
     transition: all .6s ease-in-out;
 }

 .view img {
     display: block;
 }

 .img-responsive {
     display: block;
     max-width: 100%;
     height: auto;
 }

 img {
     vertical-align: middle;
 }

 .content {
     padding-bottom: 40px;
     padding-top: 40px;
 }

 .container {
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
 }


 .bigh1 {
     font-size: 50px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: #555;
     margin-top: 5px;
     text-shadow: none;
     font-weight: 400;
 }

 h1 {
    display: block;
     top: 10px;
     font-family: Helvetica !important;
     line-height: 35px;
     margin-bottom: 10px;
     margin: 0.67em 0;
     margin-block-start: 0.67em;
     margin-block-end: 0.67em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
 }



 Footer {
     position: relative;
     display: block;
     background-color: #57308f;
     -webkit-font-smoothing: antialiased !important;
     -moz-osx-font-smoothing: grayscale !important;
     font-family: franklin-gothic-urw, serif;
     font-style: normal;
     margin-top: 5% !important;
 }


 .Footer p {
     color: #fff;
     font-family: franklin-gothic-urw, serif !important;
     font-weight: 700;
 }

 @media (max-width: 768px) {
     .content {
         padding-bottom: 0;
     }
 }

 @media (max-width: 991px) {
     .one-page-header .menu-container:before {
         content: " ";
         display: table;
     }
 }

 @media (max-width: 991px) {
     .one-page-header .menu-container:after {
         content: " ";
         display: table;
         clear: both;
     }
 }
.content{
    padding-top: 40px;
}
 ::selection {
     color: #fff;
     background: #57308f;
 }

 .one-page-header .container {
     position: relative;
 }

 .container {
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 .one-page-header .navbar-toggle

 /* .one-page-header.top-nav-collapse .navbar-toggle  */
     {
     padding-right: 10px;
 }

 @media (max-width: 991px) {
     .one-page-header .navbar-toggle {
         display: block;
     }
 }

 .one-page-header .navbar-toggle {
     border: 0;
     margin-right: 3px;
 }

 .navbar-toggle {
     position: relative;
     float: right;
     /* margin-right: 15px; */
     padding: 9px 10px;
     margin-top: 8px;
     margin-bottom: 8px;
     /* background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; */
     background: 0 0 !important;
 }

 button

 /* button:hover */
     {
     outline: 0 !important;
 }


 button

 /* input, select, textarea  */
     {
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
 }

 button {
     overflow: visible;
 }

 button

 /* input, optgroup, select, textarea  */
     {
     color: inherit;
     font: inherit;
     margin: 0;
 }

 button {
     /* appearance: auto; */
     writing-mode: horizontal-tb !important;
     text-rendering: auto;

     letter-spacing: normal;
     word-spacing: normal;

     text-indent: 0px;
     text-shadow: none;
     text-align: center;
     align-items: flex-start;

 }

 button {
     -webkit-appearance: button;
     cursor: pointer;
 }
 ::selection {
    color: #fff;
    background: #57308f;
}
 .container:before {
     content: " ";
     display: table;
 }

 @media (max-width: 991px) {
     .one-page-header .menu-container:before .menu-container:after {
         content: " ";
         display: table;
     }
 }

 /* @media (max-width: 991px) {
     .one-page-header .menu-container:after {
         content: " ";
         display: table;
         clear: both;
     }
 } */

 .container:after {
     clear: both;
 }

 .container:after,
 .container:before {
     content: " ";
     display: table;
 }

 .navbar:after,
 .navbar:before {
     content: " ";
     display: table;
 }

 .navbar:after {
     clear: both;
 }
 @media screen and (max-width: 420px){
.Footer ._content {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
 }
 .Footer ._content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 70px 80px 60px;
}
.Footer div, .Footer h1, .Footer h2, .Footer h3, .Footer input, .Footer p, .Footer span, .Footer strong {
    color: #fff;
    font-family: franklin-gothic-urw,serif!important;
    font-weight: 700;
}
.Footer ._layout {
    line-height: 1.4em;
    
}
@media screen and (max-width: 420px){
.Footer ._content {
   
    text-align: center;
}
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}