/* Global styles ============= */

* {
     border-radius: 0 !important;
 }

 *,
 :after,
 :before {
     box-sizing: border-box;
 }
 element.style {
     background-position: 50% 202px;
 }
 ::selection {
     color: #fff;
     background: #57308f;
 }

 :root {
     --blue: #007bff;
     --indigo: #6610f2;
     --purple: #6f42c1;
     --pink: #e83e8c;
     --red: #dc3545;
     --orange: #fd7e14;
     --yellow: #ffc107;
     --green: #28a745;
     --teal: #20c997;
     --cyan: #17a2b8;
     --white: #fff;
     --gray: #6c757d;
     --gray-dark: #343a40;
     --primary: #007bff;
     --secondary: #6c757d;
     --success: #28a745;
     --info: #17a2b8;
     --warning: #ffc107;
     --danger: #dc3545;
     --light: #f8f9fa;
     --dark: #343a40;
     --breakpoint-xs: 0;
     --breakpoint-sm: 576px;
     --breakpoint-md: 768px;
     --breakpoint-lg: 992px;
     --breakpoint-xl: 1200px;
     --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 }

 body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #333;
     font-size: 13px;
     line-height: 1.6;
 }

 h3,
 h4,
 h5,
 h6 {
     font-family: "Open Sans", Arial, sans-serif;
 }

 h2 {
     font-size: 1.846em;
     line-height: 33px;
     display: block;
     font-size: 1.5em;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: #555;
     margin-top: 5px;
     text-shadow: none;
     font-weight: 400;
 }

 h1 {
     display: block;
     top: 10px;
     font-family: Helvetica !important;
     line-height: 35px;
     margin-bottom: 10px;
     margin: 0.67em 0;
     margin-block-start: 0.67em;
     margin-block-end: 0.67em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
 }
/* View style */
 .view p {
     font-family: Georgia, serif;
     font-style: italic;
     font-size: 12px;
     color: #fff;
     padding: 10px 20px;
     position: relative;
     text-align: center;
 }


 .view .content,
 .view .mask {
     width: 100%;
     height: 100%;
     position: absolute;
     overflow: hidden;
     top: 0;
     left: 0;
 }

 .view .content,
 .view .mask #skills {
     position: relative;
     display: flex;
     text-align: center;
     justify-content: center;
 }

.view-tenth p {
     color: #333;
 }


 .view,
 .view h2,
 .view h3 {
     position: relative;
     text-align: center;
 }

 .view {
     cursor: default;
     overflow: hidden;
     margin-bottom: 30px;
     box-shadow: 0 0 3px #cdcccc;
 }

 .view-tenth .mask {

     transition: all .5s linear;
     opacity: 0;
 }

 .view-tenth h2,
 .view-tenth h3 {
     color: #333;
     margin: 20px 40px 0;
     background: 0 0;
     border-bottom: 1px solid rgba(0, 0, 0, .3);
 }

 .view h2,
 .view h3 {
     background: rgba(0, 0, 0, .8);
     margin: 20px 0 0;
     text-shadow: none;
     font-size: 22px;
     padding: 10px;
 }
.view-tenth img {
     left: 10px;
     margin-left: -10px;
     position: relative;
     -webkit-transition: all .6s ease-in-out;
     -moz-transition: all .6s ease-in-out;
     -o-transition: all .6s ease-in-out;
     -ms-transition: all .6s ease-in-out;
     transition: all .6s ease-in-out;
 }

 .view img {
     display: block;
 }
/* Main section */

 a {
     text-decoration: none;
     outline: 0 !important;
     color: #135b9a;
 }



 
 p {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     width: 250px;
 }

 .row {
     margin-left: -15px;
     margin-right: -15px;
 }


 .jumbotron {
     height: calc(100vh - 25px);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .title-box-v2 {
     text-align: center;
 }

 .parallax-team {
     background: url(/assets/faces-160c5f9….jpg) 50% 0 fixed;
 }

 .parallax-team:before {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     content: " ";
     position: absolute;
     background: rgba(255, 255, 255, .9);
 }

 
 .img-responsive {
     display: block;
     max-width: 100%;
     height: auto;
 }

 img {
     vertical-align: middle;
 }

 .content {
     padding-bottom: 40px;
     padding-top: 40px;
 }

 .container {
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 
 .one-page-header .container {
     position: relative;
 }


 .one-page-header .navbar-toggle {
     padding-right: 10px;
 }

 /* Footer */
 .Footer {
     position: relative;
     display: flex;
     background-color: #57308f;
     -webkit-font-smoothing: antialiased !important;
     -moz-osx-font-smoothing: grayscale !important;
     font-family: franklin-gothic-urw, serif;
     font-style: normal;
     margin-top: 5% !important;

 }

 .Footer ._content {


     padding: 70px 80px 60px;
 }

 .Footer p {
     color: #fff;
     font-family: franklin-gothic-urw, serif !important;
     font-weight: 700px;
 }

 .Footer ._layout {
     line-height: 2.4em;

 }

 /* Media queries */
 @media screen and (max-width: 420px) {
     .Footer ._content {

         text-align: center;
     }
 }

 @media (max-width: 991px) {
     .one-page-header .menu-container:after {
         content: " ";
         display: table;
         clear: both;
     }
 }

 @media (max-width: 991px) {
     .one-page-header .menu-container:before .menu-container:after {
         content: " ";
         display: table;
     }
 }

 @media (max-width: 991px) {
     .one-page-header .navbar-toggle {
         display: block;
     }
 }


 @media screen and (max-width: 420px) {
     .Footer ._content {
         padding-left: 10px;
         padding-right: 10px;
         text-align: center;
     }
 }

 @media screen and (max-width:480px) {

     .title-box-v2 img {

         max-width: 100%;
         height: 100%;

     }
 }

 @media (max-width: 768px) {
     .content img {
         padding-bottom: 0;
     }
 }

 @media (max-width: 991px) {
     .one-page-header .menu-container:before {
         content: " ";
         display: table;
     }
    }